@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    height: 65px;
    background-color: white;

}

.navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    padding: 17px 90px 23px;
}

h1 {
    color: black;
    font-style: bold;
    font-size: 24px;
    width: 119px;
    height: 29px;
    margin: 0px 46px 0px 0px;
}

.links {
    display: flex;
    align-items: center;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #343A40;
    margin-right: 46px;
}

a.promo {
    color: white;
    margin: 0px;
    background-color: #4C6EF5;
    border-radius: 4px;
    width: 145px;
    height: 40px;
    box-sizing: border-box;
    padding: 10.37px 30px;
}

a:hover {
    color: #4C6EF5;
}

a.promo:hover {
    background-color: white;
    border: 1px solid #4C6EF5;
    border-radius: 4px;
    color: #4C6EF5;
}

.boxMain {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;


}

.boxItem {
    width: 200px;
    height: 325px;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxItem img {
    align-items: center;
    width: 110px;
    height: 100px;
    object-fit: contain;
    margin: auto;
}

p {
    font-size: 11px;
    font-weight: 600;
    line-height: 28px;
    padding: 0px 20px;
}

button {
    width: 167px;
    height: 35px;
    border-radius: 8px;
    color: white;
    background-color: #4C6EF5;
    margin: auto;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

button:hover {
    background-color: white;
    color: #4C6EF5;
    border: 2px solid #4C6EF5;
    border-radius: 8px;
}